.home__div {
    background-color: #242A32;
    position: relative;
}

.home__div h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 24px;
}
